<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<style>
     body{
        background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
        animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

       
    } 
    .container{
        background: url('../image/loginlogo.jpeg');
        
        background-position: center;
        background-size: cover;
        justify-content: center;
        margin: 60px 450px;
        width:400px;
        height:400px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
       
       
    }
    .form{
        margin: 50px 118px;
        
        gap:5px;
    }
    h3{
        margin: 0px 120px;
    }
    .user{
        padding:5px;
       
    }
    .pass{
        padding:5px;
        margin:0px 00px;
        padding:7px 5px;
       
        
    }
    .btn{
        margin: 16px 3px;
    padding: 3px 60px;
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;

    }
    .btn:hover{
        background-color: rgba(185, 251, 253, 0.986);
        cursor: pointer;
    }
    h1{
        margin: 0px 120px;
    }
    .search{
        border-radius: 10px;
        padding:7px 5px;
        border: none;
        background: transparent;
        border: 1px solid white;
    }
    h6{
        margin: 14px 13px;
        width: 48px;
        background-color: aqua;
    }
    .extra{
        display:flex;
    }
    h3{
        margin: 10px -30px;
        display: inline;
        position:fixed;
        color: #fbfcc4;
        
    }
    h3 a{
        color:#fbfcc4;
    }

</style>
<body>
    <div class="main">
    <form  method="post" action="/login">

    <div class="container">
        <h1>login form</h1>
        <div class="form">
            <div class="user">
            <label >Username</label>
            <input type="text" placeholder="username" class="search" name="username">
        </div>
        <br>
        <div class="pass">
            <label>Password</label>
            <input type="password" placeholder="password" class="search" name="password">
        </div>
        <button  type="submit" id="btn" class="btn">SUBMIT</button>
        <div class="extra">
            <h3>Don't have an account?<a href="/signup">Signup</a></h3>
           
        </div>
       
    </div>
</div>
</form>
</div>
<script>

</script>
</body>
</html>